@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


.navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  position: fixed;
  width: 100%;
}

.navigation ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 2), rgba(0, 0, 0, 0)),
    url("/bgfirst.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h1 {
font-size: 90px;
text-align: center;
}
.hero p{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(196, 196, 196);
}

.join  {
height:  45px;
width: 250px;
margin-right: 13px;
background: rgb(104,7,212);
background: linear-gradient(90deg, rgba(104,7,212,1) 0%, rgba(198,77,255,1) 100%);
border: none;
font-size: 19px;
}

.login {
height: 45px;
width: 150px;
margin-left: 13px;
background-color: transparent;
border: 2px solid rgb(104,7,212);
font-size: 19px;
}

.section2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg,rgba(0,0,0,.6),rgba(0,0,0,.1) 40%,rgba(0,0,0,.9)),
  linear-gradient(0deg,#000,rgba(0,0,0,.5) 40%,rgba(0,0,0,.9)),url("/bg3.png") no-repeat 50%/cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section2 h1{
  font-size: 90px;
  text-align: center;
  margin-bottom: 50px;
}

.section3 {
  background: linear-gradient(180deg,#000,#1c111f 64%);
  background-color: rgba(0, 0, 0, 0);
  background-color: #9c1efe;
  
  
}

.section3 h1{
  font-size: 90px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  
}

.section4{
  height: 100vh;
  background: #1c111f;
  background: linear-gradient(180deg,#1c111f,#221325 90%);
}

.container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: center;
align-items: center;
gap: 30px;
max-width: 70%;
margin-left: auto;
margin-right: auto;
justify-items: center;
}

.box {
  border-radius: 30px;
  width:351px ;
  height:415px ;
  display: flex;
  align-items: flex-end;
  overflow: auto;

}

.people{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left:20px ;
  padding-right:20px ;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(196, 196, 196, 0.1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  
}

.first{
  background-image: url("/game1.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.two{
  background-image: url("/game2.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.three{
  background-image: url("/game3.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.four{
  background-image: url("/game4.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.five{
  background-image: url("/game5.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.six{
  background-image: url("/game6.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.section1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 493px;
  background: linear-gradient(180deg,rgba(0,0,0,.6),rgba(0,0,0,.1) 40%,rgba(0,0,0,.9)),
  linear-gradient(0deg,#000,rgba(0,0,0,.5) 40%,rgba(0,0,0,.9));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.pad img{
  width: 543px;
  height: 493px;
}

.act,.bld{
  height: 100%;
  font-size: 45px;
  position: relative;
}

.bld {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  left: 180px;
  z-index: 2;
  bottom: 80px;
}
.bld > p{
font-size: 15px;
}

.act{
  flex-direction: column;
  margin-bottom: 100px;
  z-index: 2;
  right: 130px;
  top: 240px;
}

.icons{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  right: 20px;
}

.icon1 img,.icon2 img,.icon3 img{
  width: 74px;
  height: 74px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bld > p {
  color: gainsboro;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 10px;
}

.joinus{
  background: none;
  border: none;
  font-weight: 10;
  width: 171px;
  height: 28px;
  display: flex;
  margin-top: 10px;
  gap: 15px;
  font-size: 15px;
  font-weight: bolder;
  
}

.section5{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  background: linear-gradient(0deg,#000,#150e17e6 10%,rgba(35,19,26,.5) 70%,rgba(44,28,48,0) 80%),linear-gradient(180deg,#221325,rgba(34,19,37,.9) 10%,rgba(34,19,37,.5) 20%,rgba(34,19,37,0)),url(/bg5.png) no-repeat 50%/cover;

}

.section5 > h2{
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
}