.navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.navigation ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.navigation ul > li {
}