.navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.navigation ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero {
height: 100vh;
display: flex;
flex-direction:column ;
justify-content: center;
align-items: center;
}

.hero h1 {
font-size: 60px;
text-align: center;
}
.hero p{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(196, 196, 196);
}

.join  {
height:  45px;
width: 250px;
margin-right: 13px;
background: rgb(104,7,212);
background: linear-gradient(90deg, rgba(104,7,212,1) 0%, rgba(198,77,255,1) 100%);
border: none;
font-size: 19px;
}

.login {
height: 45px;
width: 150px;
margin-left: 13px;
background-color: transparent;
border: 2px solid rgb(104,7,212);
font-size: 19px;
}